<app-header
  [navbarBrandRouterLink]="['/user']"
  [fixed]="true"
  [navbarBrandFull]="{src:'assets/img/logo.jpeg', width: 100, height: 40, alt: 'Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo.jpeg', width: 30, height: 30, alt: 'Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg' ">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto"></ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <!-- <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li> -->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
    <span><a href="https://www.ucamprominas.com.br/">Prominas</a> &copy; 2018 creativeLabs.</span>
    <span class="ml-auto">Powered by <a href="https://www.ucamprominas.com.br/">Prominas para o mundo</a></span>
  </app-footer>

