<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-black bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
          </button>
          <div class="text-value lettercollor">Usuários: {{total}}</div>
          <div class="lettercollor">Tipos de usuários:</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;" >
          <canvas 
          *ngIf="barChart1Data.length"
           baseChart 
          class="chart" 
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row" >
    <div class="col-sm-8 col-lg-6">
  <canvas
  *ngIf = "pieChartData.length" 
  baseChart 
  class="chart"
  [data]="pieChartData"
  [labels]="pieChartLabels"
  [colors]="pieChart1Colours"
  [chartType]="pieChartType">
</canvas>
</div><!--/.col-->
</div><!--/.row-->
  
        
